.Product{
    /* margin-bottom: 100px; */
    background-color:lightblue;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    padding:0 80px 0 0;
    margin-left: 8px;
    margin-bottom: 15px;
    align-items: center;
}
